<?xml version="1.0" encoding="utf-8"?>
<config>
  <app>
    <title> Game dev 2018</title>
    <organization>UPC</organization>
  </app>
  <renderer>
    <vsync value="false"/>
  </renderer>
  <window>
    <Title                      win_title="SuperGame2018"/>
    <height                     value="1024"/>
    <width                      value="768"/>
    <scale                      value="1"/>
    <fullscreen                 value="false"/>
    <borderless                 value="false"/>
    <resizable                  value="true"/>
    <fullscreen_window          value="false"/>
  </window>
  <audio>
    <volume value="50"/> <!--Volume only can go from 0 to 128-->
  </audio>
</config>